body{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    background-color: rgb(0, 140, 240);
}

.logo{
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url("../assets/cat-icon.jpg");
    background-size: cover;
}

nav a{
    margin: 0 5px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a:hover{
    text-shadow: 0 0 5px rgb(248, 219, 252);
}

section{
    padding: 20px 20px;
}

.welcome{
    background-color: rgb(213, 225, 234);
    height: 200px;
}

.welcome h2{
    margin: 0px;
}

.welcome p{
    margin: 0px;
}

.profile-photo{
    height: 250px;
    width: 250px;
    background-color: lightgray;
    border-radius: 10%;
    background-image: url("../assets/cat-photo.jpg");
    background-size: cover;
}

footer{
    padding: 5px 10px;
    text-align: right;
    background-color: rgb(1, 73, 123);
    color: white;
}