.main-header{
    
}

.logo{
    height: 75px;
    width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url("images\stack-of-books-by-popo2021.png");
    background-size: cover;
}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

nav{
    width: 100%;
    padding: 0.5rem 5%;
    background-color: rgb(75, 133, 241);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(13, 64, 132);
}

.logo img{
    width: 25px;
}

.nav-menu{
    position: relative;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-menu li a:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
 */

/* 
.navbar{
    background-color: rgb(75, 133, 241);
    padding: 0px;
    margin: 0px;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(144, 168, 215)
}

.navbar li{
    float: left;
}
 */
